nav{
  background-color: rgb(230, 230, 230);
  border-bottom: .1em solid gray;
  height: 7em;
}

.affix{
  top: 0;
  width: 100%;
  z-index: 100;
}

nav h1{
  position: relative;
  left: 42%;
  display: inline;
  top: .65em;
}

#banner{
  margin: 0;
  width:100%;
  background-color: rgb(128, 108, 90);
}

#banner img{
  width:60%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dropdown{
  display: inline;
  float: right;
  right: .2em;
  top: 1em;
}

.navbar a {
  font-size: 1em;
  text-align: center;
  padding: 1em;
  text-decoration: none;
}

.dropdown .dropbtn {
  font-size: 1em;
  border: none;
  outline: none;
  padding: 1em;
  position: relative;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropbtn span{
  -webkit-transition: -webkit-transform 1.5s;
  -ms-transition: -ms-transform 1.5s;
  transition: transform 1.5s;
  font-size: 2em;
  right: 2em;
}

.dropbtn:hover span {
  transform:rotate(180deg);
 -ms-transform:rotate(180deg);
 -webkit-transform:rotate(180deg);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 3.25em;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 1em;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#intro{
  background-color: rgb(131, 146, 159);
  margin-top: 7em;
  margin-bottom: 0;
  padding: 2em;
}

#about{
  background-color: rgb(143, 58, 28);
  height: 4000px;
}

#about h2{
  margin:0;
  padding:2em;
  color: rgb(230, 230, 230);
  text-align: center;
}

.about-content{
  border-top: 1em solid lightgray;
  background-color: rgb(40, 40, 40);
  width: 40%;
  margin: 0 auto;
  padding:2em;
  color: white;
  font-family: courier;
  font-size: 1em;
}

.about-content h3{
  font-weight:bold;
  font-size: 1em;
}
